---
import "../assets/style.css";
import pfp from "../assets/pfp.png";
import { SITE_TITLE, USER } from "../constants";
import twemoji from "@twemoji/api";

const slotContent = await Astro.slots.render("default");
const parsedContent = twemoji.parse(slotContent);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={SITE_TITLE} />
    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <main>
      <div class="content" set:html={parsedContent} />
    </main>
  </body>
</html>
